@import './colors/all';
@import './effects/all';
@import './fonts/all';
@import './mixins/all';
@import './transitions/all';

:root {
    --color-theme-1: #{$--color-theme-1};
    --color-theme-1-50: #{$--color-theme-1-50};
    --color-theme-1-100: #{$--color-theme-1-100};
    --color-theme-1-200: #{$--color-theme-1-200};
    --color-theme-1-300: #{$--color-theme-1-300};
    --color-theme-1-400: #{$--color-theme-1-400};
    --color-theme-1-500: #{$--color-theme-1-500};
    --color-theme-1-600: #{$--color-theme-1-600};
    --color-theme-1-700: #{$--color-theme-1-700};
    --color-theme-1-800: #{$--color-theme-1-800};
    --color-theme-1-900: #{$--color-theme-1-900};
    --color-theme-2: #{$--color-theme-2};
    --color-theme-2-50: #{$--color-theme-2-50};
    --color-theme-2-100: #{$--color-theme-2-100};
    --color-theme-2-200: #{$--color-theme-2-200};
    --color-theme-2-300: #{$--color-theme-2-300};
    --color-theme-2-400: #{$--color-theme-2-400};
    --color-theme-2-500: #{$--color-theme-2-500};
    --color-theme-2-600: #{$--color-theme-2-600};
    --color-theme-2-700: #{$--color-theme-2-700};
    --color-theme-2-800: #{$--color-theme-2-800};
    --color-theme-2-900: #{$--color-theme-2-900};
    --color-theme-3: #{$--color-theme-3};
    --color-theme-3-50: #{$--color-theme-3-50};
    --color-theme-3-100: #{$--color-theme-3-100};
    --color-theme-3-200: #{$--color-theme-3-200};
    --color-theme-3-300: #{$--color-theme-3-300};
    --color-theme-3-400: #{$--color-theme-3-400};
    --color-theme-3-500: #{$--color-theme-3-500};
    --color-theme-3-600: #{$--color-theme-3-600};
    --color-theme-3-700: #{$--color-theme-3-700};
    --color-theme-3-800: #{$--color-theme-3-800};
    --color-theme-3-900: #{$--color-theme-3-900};
    --color-theme-3-900: #{$--color-theme-3-900};
    --color-theme-4: #{$--color-theme-4};
    --color-theme-4-50: #{$--color-theme-4-50};
    --color-theme-4-100: #{$--color-theme-4-100};
    --color-theme-4-200: #{$--color-theme-4-200};
    --color-theme-4-300: #{$--color-theme-4-300};
    --color-theme-4-400: #{$--color-theme-4-400};
    --color-theme-4-500: #{$--color-theme-4-500};
    --color-theme-4-600: #{$--color-theme-4-600};
    --color-theme-4-700: #{$--color-theme-4-700};
    --color-theme-4-800: #{$--color-theme-4-800};
    --color-theme-4-900: #{$--color-theme-4-900};
    --color-theme-4-900: #{$--color-theme-4-900};
    --color-theme-5: #{$--color-theme-5};
    --color-theme-5-50: #{$--color-theme-5-50};
    --color-theme-5-100: #{$--color-theme-5-100};
    --color-theme-5-200: #{$--color-theme-5-200};
    --color-theme-5-300: #{$--color-theme-5-300};
    --color-theme-5-400: #{$--color-theme-5-400};
    --color-theme-5-500: #{$--color-theme-5-500};
    --color-theme-5-600: #{$--color-theme-5-600};
    --color-theme-5-700: #{$--color-theme-5-700};
    --color-theme-5-800: #{$--color-theme-5-800};
    --color-theme-5-900: #{$--color-theme-5-900};
    --color-white: #{$--color-white};
    --color-black: #{$--color-black};
    --color-blue: #{$--color-blue};
    --color-indigo: #{$--color-indigo};
    --color-purple: #{$--color-purple};
    --color-pink: #{$--color-pink};
    --color-red: #{$--color-red};
    --color-orange: #{$--color-orange};
    --color-yellow: #{$--color-yellow};
    --color-green: #{$--color-green};
    --color-teal: #{$--color-teal};
    --color-cyan: #{$--color-cyan};
    --color-light: #{$--color-light};
    --color-dark: #{$--color-dark};
    --color-primary: #{$--color-primary};
    --color-secondary: #{$--color-secondary};
    --color-success: #{$--color-success};
    --color-danger: #{$--color-danger};
    --color-warning: #{$--color-warning};
    --color-info: #{$--color-info};
    --color-gray: #{$--color-gray};
    --color-gray-100: #{$--color-gray-100};
    --color-gray-200: #{$--color-gray-200};
    --color-gray-300: #{$--color-gray-300};
    --color-gray-400: #{$--color-gray-400};
    --color-gray-500: #{$--color-gray-500};
    --color-gray-600: #{$--color-gray-600};
    --color-gray-700: #{$--color-gray-700};
    --color-gray-800: #{$--color-gray-800};
    --color-gray-900: #{$--color-gray-900};
    --color-primary-100: #{$--color-primary-100};
    --color-primary-200: #{$--color-primary-200};
    --color-primary-300: #{$--color-primary-300};
    --color-primary-400: #{$--color-primary-400};
    --color-primary-500: #{$--color-primary-500};
    --color-primary-600: #{$--color-primary-600};
    --color-primary-700: #{$--color-primary-700};
    --color-primary-800: #{$--color-primary-800};
    --color-primary-900: #{$--color-primary-900};
    --color-secondary-100: #{$--color-secondary-100};
    --color-secondary-200: #{$--color-secondary-200};
    --color-secondary-300: #{$--color-secondary-300};
    --color-secondary-400: #{$--color-secondary-400};
    --color-secondary-500: #{$--color-secondary-500};
    --color-secondary-600: #{$--color-secondary-600};
    --color-secondary-700: #{$--color-secondary-700};
    --color-secondary-800: #{$--color-secondary-800};
    --color-secondary-900: #{$--color-secondary-900};
    --color-success-100: #{$--color-success-100};
    --color-success-200: #{$--color-success-200};
    --color-success-300: #{$--color-success-300};
    --color-success-400: #{$--color-success-400};
    --color-success-500: #{$--color-success-500};
    --color-success-600: #{$--color-success-600};
    --color-success-700: #{$--color-success-700};
    --color-success-800: #{$--color-success-800};
    --color-success-900: #{$--color-success-900};
    --color-danger-100: #{$--color-danger-100};
    --color-danger-200: #{$--color-danger-200};
    --color-danger-300: #{$--color-danger-300};
    --color-danger-400: #{$--color-danger-400};
    --color-danger-500: #{$--color-danger-500};
    --color-danger-600: #{$--color-danger-600};
    --color-danger-700: #{$--color-danger-700};
    --color-danger-800: #{$--color-danger-800};
    --color-danger-900: #{$--color-danger-900};
    --color-warning-100: #{$--color-warning-100};
    --color-warning-200: #{$--color-warning-200};
    --color-warning-300: #{$--color-warning-300};
    --color-warning-400: #{$--color-warning-400};
    --color-warning-500: #{$--color-warning-500};
    --color-warning-600: #{$--color-warning-600};
    --color-warning-700: #{$--color-warning-700};
    --color-warning-800: #{$--color-warning-800};
    --color-warning-900: #{$--color-warning-900};
    --color-info-100: #{$--color-info-100};
    --color-info-200: #{$--color-info-200};
    --color-info-300: #{$--color-info-300};
    --color-info-400: #{$--color-info-400};
    --color-info-500: #{$--color-info-500};
    --color-info-600: #{$--color-info-600};
    --color-info-700: #{$--color-info-700};
    --color-info-800: #{$--color-info-800};
    --color-info-900: #{$--color-info-900};
}
